BorderPane {
    -fx-background-color: #bc4f56;
}

Label {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 13.0;
    -fx-alignment: center;
    -fx-text-fill: #182d2c;
}

TextField {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 13.0;
    -fx-alignment: center;

}

Button {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 13.0;
    -fx-text-fill: "WHITE";
    -fx-background-color: #182D2C;
    -fx-alignment: center;

}

PasswordField {
    -fx-alignment: center;
}

GridPane {
    -fx-background-size: 1200 900;
    -fx-background-color: #43787d;
    -fx-border-radius: 18 18 18 18;
    -fx-background-radius: 18 18 18 18;
    -fx-border-color: #182D2C;
}